.shows-search{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 5vh;
    background-color: gold;
    color:black;
    height: 60px;
}

.shows-search input { width: 33%; }

.shows-list {
    width:100%;
    display:flex;
    flex-wrap: wrap;
}

.card{
    width: 32%;
    margin-bottom: 2%;
    margin-right: 2%;
    border: 3px solid gold;
    border-radius:0%;
    color:white;
    background-color:black;
    text-align: center;
}

.card:nth-of-type(3n){
    margin-right: 0;
}

.card-text{
    height:70px;
}

.btn-primary{
    color:black;
    background-color:gold;
    border: 1px solid black;
}

.btn-primary:hover{
    color:gold;
    background-color:black;
    border: 1px solid gold;
}

