.loader-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 100vh;
}
body{
    background-color: black;
}
.shows-search{
    color:white;
}
img{
    border:1px solid gold;
}
.container{
   background-color: black;
}
.btn-warning{
    margin-top:2vh;
}