.show-header {
    width: 30vw;
    height: 44.11vw;
    background-position: center;
    z-index: 10;
    background-size: cover;
}

.cool-o-meter{
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.show-preview{
    display: flex;
    color:white;
    justify-content: space-between;
    margin-top: 2vh;
}

.show-about{
    width: 50%;
    text-align: justify;
}

.cool-o-meter > div {
  display: flex;
  justify-content: center;
  height: 100%;
  background:gold;  
}

.star-icon{
    color:gold;
    font-size:25px;
}

.show-header h2 {
    font-size:18px;
}

.no-star-icon{
    color:grey;
    font-size:18px;
}

.about-show-text{
    font-size: 20px;
}

.genres{
    display: flex;
}
